<div class="notification">
  <form #f="ngForm" (ngSubmit)="formSubmit(f.value)">
    <div class="field has-addons">
      <div class="control is-expanded">
        <input
          [ngClass]="{
            'is-danger':
              heroName.invalid && (heroName.dirty || heroName.touched)
          }"
          class="input"
          type="text"
          placeholder="Type some Hero"
          name="heroName"
          ngModel
          #heroName="ngModel"
          required
        />
        <p
          *ngIf="heroName.invalid && (heroName.dirty || heroName.touched)"
          class="help is-danger"
        >
          The hero name is required
        </p>
      </div>
      <div class="control">
        <button [disabled]="f.invalid" type="submit" class="button is-danger">
          Search!
        </button>
      </div>
    </div>
  </form>
</div>
