<div class="notification">
  <form #f="ngForm" (ngSubmit)="formSubmit(f.value)">
    <div class="field">
      <p class="control">
        <input
          [ngClass]="{
            'is-danger':
              heroName.invalid && (heroName.dirty || heroName.touched)
          }"
          class="input"
          type="text"
          placeholder="Type some Hero"
          name="heroName"
          ngModel
          #heroName="ngModel"
          required
        />
      </p>
      <p
        *ngIf="heroName.invalid && (heroName.dirty || heroName.touched)"
        class="help is-danger"
      >
        The hero name is required
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button [disabled]="f.invalid" type="submit" class="button is-success">
          Search!
        </button>
      </p>
    </div>
  </form>
  <!-- <button class="button is-info" (click)="changeMode()">Change</button> -->
</div>
